<div style="background: antiquewhite;">
    <h1 id="contact" class="title roboto-bold">
        Retrouvons nous !
    </h1>
    <div class="wrapper">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115786.6615440147!2d5.760151318552656!3d48.69556496569873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794ae98578bd195%3A0xbe04c723fdcec895!2sR%C3%A9p&#39;art%20Phones!5e0!3m2!1sfr!2sfr!4v1754552800046!5m2!1sfr!2sfr"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="list-container roboto-main">
            <div>
                <h2>Atelier Rép'art Phones</h2>
                <p>16 rue Albert Denis</p>
                <p>54200, Toul</p>
            </div>
            <hr>
            <div>
                <h2>Contact</h2>
                <p>Téléphone : 06 95 15 48 32</p>
                <p>Mail : repartphones&#64;gmail.com </p>
            </div>
            <hr>
            <div>
                <h2>Horaires</h2>
                <p>Lundi : 9h - 20h</p>
                <p>Mardi : 9h - 20h</p>
                <p>Mercredi : 9h - 20h</p>
                <p>Jeudi : 9h - 20h</p>
                <p>Vendredi : 9h - 19h</p>
                <p>Samedi : 9h - 14h</p>
                <p>Dimanche : Fermé</p>
            </div>
        </div>
    </div>
</div>