<app-navbar></app-navbar>

<app-parallax imageUrl="atelier.jpg" height="100dvh" [speedDesktop]="0.5" [speedMobile]="0.25" [mobileBreakpoint]="768">
    <div>
        <img class="logo-overlay" src="logo.png" alt="logo répart phones">
        <p class="roboto-main">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus
            similique quo
            reiciendis quos numquam
            beatae dolor, repudiandae aliquid laudantium minus ipsum in, nostrum voluptates eius. Pariatur eaque
            assumenda animi temporibus!</p>
    </div>
</app-parallax>
<app-galerie [photos]="firstGallerie" [height]="500" [hoverReveal]="false">
</app-galerie>
<app-carousel-test></app-carousel-test>
<app-galerie [photos]="secondGallerie" [height]="500" [hoverReveal]="false">
</app-galerie>
<app-contact></app-contact>

<router-outlet></router-outlet>