<app-navbar></app-navbar>

<app-parallax imageUrl="tooz_atelier.jpg" height="100dvh" [speedDesktop]="0.5" [speedMobile]="0.25" [mobileBreakpoint]="768">
    <div>
        <img class="logo-overlay" src="logo.png" alt="logo répart phones">
        <p class="roboto-main">CHANGEMENTTESTICIDepuis 2012, je redonne vie à vos appareils. Écrans de téléphone, tablettes, consoles :
            je m’occupe de
            tout. Du changement de vos écrans jusqu’aux réparations nécessitant des micro-soudure pour les pannes
            difficiles. Service rapide,
            transparent et soigné —
            pour que vous retrouviez l’essentiel, sans stress.</p>
    </div>
</app-parallax>
<app-galerie [photos]="firstGallerie" [height]="500" [hoverReveal]="false">
</app-galerie>
<app-carousel-test></app-carousel-test>
<app-galerie [photos]="secondGallerie" [height]="500" [hoverReveal]="false">
</app-galerie>
<app-contact></app-contact>

<router-outlet></router-outlet>